.idea/
.vscode/
golfgen.egg-info/
.DS_Store
__pycache__/
.pytest_cache/

# venv (cree a la racine du repo)
.venv/
bin/
lib/
lib64
include/
pyvenv.cfg

# artefacts de generation
output/.cache/
output/steps/
